/*!
 * "Noto Sans Japanese" is lisenced under the SIL Open Font License 1.1
 * Copyright 2014-2021 Adobe (http://www.adobe.com/), with Reserved Font Name 'Source'
 * by https://fonts.google.com/noto/specimen/Noto+Sans+JP
 */
@font-face {
  font-family: 'Noto Sans JP';
  src: url('./NotoSans/NotoSansJP-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
